In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("education_COVID-19.csv")
df

,Country Code,Country Name,Dt Extraction,If Closed Due To COVID19 When,Income Level,Region Name,School Status,Year Pre,Year Prm,Year Sec,Year Ter,Latitude,Longitude,Enrollment,Se Pre Enrl,Se Prm Enrl,Se Sec Enrl,Se Ter Enrl
0,ERI,Eritrea,07-07-2020 03:28,NaN,Low income,Sub-Saharan Africa,Closed,2018.0,2018.0,2018.0,2016.0,15.9820,38.0200,"6,67,452","47,047","3,49,753","2,60,421","10,231"
1,GNB,Guinea-Bissau,07-07-2020 03:28,NaN,Low income,Sub-Saharan Africa,Closed,2010.0,2010.0,2006.0,2006.0,12.1910,-14.4750,"3,46,705","8,950","2,78,890","55,176","3,689"
2,SMR,San Marino,07-07-2020 03:28,01 March 2020,High income,Europe and Central Asia,Closed,2018.0,2018.0,2018.0,2018.0,43.9420,12.4611,"4,999",909,"1,698","1,653",739
3,GEO,Georgia,07-07-2020 03:28,03 March 2020,Upper middle income,Europe and Central Asia,Closed,2008.0,2018.0,2018.0,2019.0,42.0500,43.5760,"8,15,661","78,642","3,05,368","2,80,425","1,51,226"
4,ITA,Italy,07-07-2020 03:28,03 March 2020,High income,Europe and Central Asia,Closed,2017.0,2017.0,2017.0,2017.0,44.3713,11.1084,"1,08,76,792","15,35,493","29,02,379","46,01,869","18,37,051"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,MAC,"Macao SAR, China",07-07-2020 03:28,NaN,High income,East Asia and Pacific,"Null, No information available, Not known",2018.0,2018.0,2018.0,2018.0,22.1404,113.5643,"1,08,677","18,802","30,169","26,608","33,098"
197,NRU,Nauru,07-07-2020 03:28,NaN,Upper middle income,East Asia and Pacific,"Null, No information available, Not known",2016.0,2016.0,2016.0,NaN,-0.5287,166.9315,"3,475",675,"1,808",992,NaN
198,SLB,Solomon Islands,07-07-2020 03:28,NaN,Lower middle income,East Asia and Pacific,"Null, No information available, Not known",2018.0,2018.0,2012.0,NaN,-9.5987,160.1487,"1,95,749","48,661","1,05,428","41,660",NaN
199,VUT,Vanuatu,07-07-2020 03:28,NaN,Lower middle income,East Asia and Pacific,"Null, No information available, Not known",2015.0,2015.0,2015.0,2004.0,-15.3390,166.8900,"81,755","14,301","45,931","20,568",955
200,WSM,Samoa,07-07-2020 03:28,NaN,Upper middle income,East Asia and Pacific,"Null, No information available, Not known",2018.0,2018.0,2016.0,2000.0,-13.6221,-172.4390,"65,380","5,111","33,123","25,964","1,182"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country Code                   199 non-null    object
 1   Country Name                   200 non-null    object
 2   Dt Extraction                  201 non-null    object
 3   If Closed Due To COVID19 When  183 non-null    object
 4   Income Level                   197 non-null    object
 5   Region Name                    197 non-null    object
 6   School Status                  201 non-null    object
 7   Year Pre                       197 non-null    float64
 8   Year Prm                       197 non-null    float64
 9   Year Sec                       197 non-null    float64
 10  Year Ter                       192 non-null    float64
 11  Latitude                       198 non-null    float64
 12  Longitude                      198 non-null    float64
 13  Enrollment                     198 non-null    object
 14  Se Pre Enrl                    197 non-null    object
 15  Se Prm Enrl                    197 non-null    object
 16  Se Sec Enrl                    197 non-null    object
 17  Se Ter Enrl                    192 non-null    object
dtypes: float64(6), object(12)
memory usage: 28.4+ KB